$px: 75;
$py-head: 100;
$py-body: 85;

.page {
  // font-size: calc(var(--width) / 115);
  // font-size: calc(var(--width) / 150);
  font-size: calc(var(--width) / var(--font-size));
  position: relative;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  font-family: "Inter", "Noto Sans Thai", "SF Pro Display", "Sukhumvit Set", "Kanit", sans-serif;
  overflow: hidden;
}

.body-content {
  // position: absolute;
  // top: calc(var(--width) / 5.25);
  padding-top: calc(var(--width) / 20);
  // left: 0;
  position: relative;
  z-index: 5;
  width: 100%;
}

.credit-content {
  position: absolute;
  top: calc(var(--width) / 40);
  right: calc(var(--width) / 100);
  text-align: right;
  font-size: calc(var(--width) / 110);
  // font-size: calc(var(--width) / 145);
}

.heading-text {
  font-size: calc(var(--width) / 100);
  margin: 0 auto;
  padding-top: calc(var(--width) / 100);
  padding-bottom: calc(var(--width) / 70);
  width: calc(var(--width) / 2.3);
  font-weight: 500;

  > .text {
    text-align: right;
  }
}

.day-card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: calc(var(--width) / var(--container-width));
  gap: calc(var(--width) / 60);
}

.day-card-list > .day-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: calc(var(--width) / 1080 * 7.5);
  width: calc(var(--width) / var(--card-width));
  height: 100%;
  background-color: var(--card-bg-color);

  > .divider {
    color: var(--divider-color);
  }

  > .day-header {
    padding: calc(var(--width) / $py-head) calc(var(--width) / $px);
    background-color: var(--card-header-bg-color);
  }

  > .day-schedule-list {
    padding: calc(var(--width) / $py-body) calc(var(--width) / $px) calc(var(--width) / 150) calc(var(--width) / $px);
  }
}

.day-card > .day-schedule-list {
  display: flex;
  flex-direction: column;

  > .schedule-text-container {
    display: flex;
    padding-bottom: calc(var(--width) / 150);
  }

  > .schedule-text-container > .time {
    padding-right: calc(var(--width) / 150);
    color: var(--time-color);
  }
}

$grad: linear-gradient(46.79deg, #3b36d2 15.01%, #3b39a5 30.68%, #6954bd 60.18%, #928fff 86.61%);

.ball-1,
.ball-2,
.ball-3 {
  background: $grad;
  border-radius: 99999px;
}

.ball-1 {
  position: absolute;
  width: calc(var(--width) / 5.75);
  height: calc(var(--width) / 5.75);
  right: calc(-1 * var(--width) / 11.31);
  top: calc(var(--width) / 5.65);
}

.ball-2 {
  position: absolute;
  width: calc(var(--width) / 2.96);
  height: calc(var(--width) / 2.96);
  right: calc(-1 * var(--width) / 11.31);
  top: calc(var(--width) / 2.07);
}

.ball-3 {
  position: absolute;
  width: calc(var(--width) / 5.94);
  height: calc(var(--width) / 5.94);
  left: calc(-1 * var(--width) / 15.8);
  top: calc(var(--width) / 2.2);
}
